:root {
  --color-base: #256d7b; /* Este es el verde azulado oscuro */
  --color-fondo: #f5f6fa; /* Fondo claro para el cuerpo */
  --color-lila: #a98fdc;
  --color-gradiente: linear-gradient(135deg, #a98fdc, #666);
  --color-verde: #47b784;
  --color-rojo: #e74c3c;
  --color-azul: white;
}

.app-wrapper {
  width: 100%;
  max-width: 1700px; /* o el tamaño que prefieras */
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}

/* Logo + texto */
.logo-barra {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  height: 55px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  letter-spacing: 0.5px;
}

/* Encabezado */
.app-header {
  background-color: var(--color-base);
  color: white;
  padding: 18px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Segoe UI', sans-serif;
}


/* Logo */
.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-right: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* NAV */
.nav-bar {
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 10px;
  transition: background-color 0.2s ease;
  border-radius: 4px;
}

.nav-links a:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Usuario a la derecha */
.usuario-barra {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  color: white;
  font-weight: bold;

}

.usuario-barra p {
  margin: 0;
}

.cerrar-sesion {
  cursor: pointer;
  font-size: 14px;
  color: white;
  margin-top: 4px;
}

.cerrar-sesion:hover {
  text-decoration: underline;
}

/* Botones comunes */
button {
  background-color: var(--color-verde);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #3aa16d;
}

/* Contenedor general */
.container {
  background: var(--color-gradiente);
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin: 40px auto;
  max-width: 1100px;
}


.icono-cerrar {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
  border-radius: 50%;
  background-color: transparent;
}